/* css styles */

h1 {
  color: firebrick;
  /* font-weight: bold; */
}

h2 {
  color: firebrick;
  /* font-weight: bold; */
}

h3 {
  color: firebrick;
  /* font-weight: bold; */
}

h4 {
  color: firebrick;
  /* font-weight: bold; *?
}